html{
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: aliceblue;
}
body {
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: rgba(42, 46, 43, 1);
}


/* MAIN ITEMS*/
    #blue-main {
        background: linear-gradient(180deg, rgba(0, 213, 255, 0.719) 8%, rgba(27,94,107,1) 50%, rgba(0,0,0,1) 96%);
        position: fixed;
        padding-left: 1.25vw;
        padding-right: 1.25vw;
        top: 0;
        right: 0;
        width: 78.75vw;
        height: 90vh;
        overflow: scroll;
    }
    #blue-main::-webkit-scrollbar {
        display: none;
    }
    #grey-main {
        background: linear-gradient(180deg, rgba(180, 180, 180, 0.719) 8%, rgb(87, 87, 87) 50%, rgba(0,0,0,1) 96%);
        position: fixed;
        padding-left: 1.25vw;
        padding-right: 1.25vw;
        top: 0;
        right: 0;
        width: 78.75vw;
        height: 90vh;
        overflow: scroll;
    }
    #grey-main::-webkit-scrollbar {
        display: none;
    }

/* STUFF ON EVERY PAGE */
        #left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 21.25vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: rgba(0, 0, 0, 1);
        }
        #left #left-top {
            display: flex;
            justify-items: center;
            justify-content: center;
            margin-top: 2%;
            width: 100%;
            height: 15%;
        }
        #left #left-top #logo {
            width: 60%;
            height: 100%;
        }
        #left #playlist {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 40%;
            width: 75%;
            padding-top: 15%;
            padding-left: 20%;
            font-size: 1rem;
            list-style-type: none;
            overflow: scroll;
        }
        #left #playlist::-webkit-scrollbar {
            display: none;
        }
    /* PAGE LINKS */
        #left #nav-mid {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: flex-start;
            width: 80%;
            height: 35%;
            border-bottom: 0.05rem solid white;
        }
        #left #nav-mid ul{
            padding-left: 5%;
        }
        #left #nav-mid ul li{
            padding-bottom: 10%;
            list-style-type: none;
        }
        #left #nav-mid ul li a{
            font-size: 1.25rem;
            color: aliceblue;
            text-decoration: none;
        }
        #player {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 10vh;
            width: 100vw;
            background-color: #181818;
        }
    /* MAIN ITEMS */
        #main-items {
            width: 100%;
            height: 95%;
            margin-top: 1.25vh;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 50vh);
            grid-column-gap: 1.25vw;
            grid-row-gap: 2.5vh;
        }
        .main-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-top: 2%;
            height: 2fr;
            width: 1fr;
            background-color: rgba(255, 255, 255, 0.1);
            border-top: 0.1vw solid rgba(255, 255, 255, 0.5);
            border-left: 0.1vw solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(1vw);
            border-radius: 7.5%;
        }
        #blue-main img#plp {
            width: 30vh;
            height: 30vh;
            padding: 2vh;
        }

   
/* searchfield.php -> searchfield */
    div#searchfieldList {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;

        width: 70vw;
        height: 95%;
        /* margin-left: 5vw;
        margin-right: 5vw; */
        margin-top: 1.25vh;
    }
    /* SEARCHFIELD TABLE */
        div#searchfieldList
        thead {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: baseline;
            border-bottom: 0.1vh solid aliceblue;
        }
        th, td {
            width: 15vw;
            padding-left: 1vw;
            padding-right: 1vw;
            text-align: center;
        }
        th#count, td#count {
            width: 10vw;
            text-align: left;
            padding-right: 0.1vw;
        }
        th#title, td#title {
            width: 15vw;
            padding-left: 0.1vw;
        }
        th#album, td#album {
            width: 15vw;
        }
        td#artist, td#artist {
            width: 15vw;
        }
        th#duration, td#duration {
            width: 15vw;
        }
        tr {
            margin: 1vw;
        }
        tr:hover {
            background-color: rgba(34, 34, 34, 0.212);
        }
        tbody {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: baseline;
        }


/* userfield css */
    #blue-main #top, #grey-main #top {
        position: relative;
        top: 0;
        width: 99.5%;
        height: 7.5vh;
        background-color: rgba(0, 0, 0, 0);
        border-bottom: 0.1vh solid rgba(255, 255, 255, 1);
    }
    #blue-main #top #userField, #grey-main #top #userField {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        position: absolute;
        right: 5%;
        top: 12.5%;
        background-color: rgba(0, 0, 0, 0.3);
        width: 15%;
        height: 75%;
        border-radius: 50px;
    }
    #blue-main #top #userField p, #grey-main #top #userField p{
        margin: 0;
        margin-left: 15%;
    }

    #blue-main #top #userField img#pfp, #grey-main #top #userField img#pfp{
        width: 24%;
        height: 100%;
        border-radius: 25px;
    }


/* LOGIN.CSS */
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    .btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
    .btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
    .btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
    .btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
    .btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
    .btn-primary.active { color: rgba(255, 255, 255, 0.75); }
    .btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
    .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
    .btn-block { width: 100%; display:block;}
    * { 
        -webkit-box-sizing:border-box; 
        -moz-box-sizing:border-box; 
        -ms-box-sizing:border-box; 
        -o-box-sizing:border-box; 
        box-sizing:border-box; 
    }
    #mainlogin { 
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height:100%;
        font-family: Helvetica;
        background: #092756;
        background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
        background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
        background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
        background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
        background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
    }
    #login { 
        position: absolute;
        top: 50%;
        left: 30%;
        margin: -150px 0 0 -150px;
        width:300px;
        height:300px;
    }
    #login h1 { 
        color: #fff; 
        text-shadow: 0 0 10px rgba(0,0,0,0.3); 
        letter-spacing:1px; 
        text-align:center; 
    }
    #register { 
        position: absolute;
        top: 50%;
        right: 15%;
        margin: -150px 0 0 -150px;
        width:300px;
        height:300px;
    }
    #register h1 {
        color: #fff; 
        text-shadow: 0 0 10px rgba(0,0,0,0.3); 
        letter-spacing:1px; 
        text-align:center; 
    }
    input { 
        width: 100%; 
        margin-bottom: 10px; 
        background: rgba(0,0,0,0.3);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
    }
    input:focus { 
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
    }