html{
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: aliceblue;
}

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: rgba(42, 46, 43, 1);
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 20vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 1);
}

#left #top {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
    height: 15%;
}

#left #top #logo {
    width: 60%;
    height: 100%;
}

#left #nav-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    width: 80%;
    height: 35%;
    border-bottom: 0.05rem solid white;
}
#left #nav-mid ul{
    padding-left: 5%;
}

#left #nav-mid ul li{
    padding-bottom: 10%;
    list-style-type: none;
}

#left #nav-mid ul li a{
    font-size: 1.25rem;
    color: aliceblue;
    text-decoration: none;
}

#main {
    position: fixed;
    padding-left: 1.25vw;
    top: 0;
    right: 1.25vw;
    width: 77.5vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 3fr);
    grid-column-gap: 1.25vw;
    grid-row-gap: 2.5vh;
    overflow: scroll;  
}
div#searchfieldList {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;

    width: 70vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
thead {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
    border-bottom: 0.1vh solid aliceblue;
}
th, td {
    width: 15vw;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
}
th#count, td#count {
    width: 10vw;
    text-align: left;
    padding-right: 0.1vw;
}
th#title, td#title {
    width: 15vw;
    padding-left: 0.1vw;
}
th#album, td#album {
    width: 15vw;
}
td#artist, td#artist {
    width: 15vw;
}
th#duration, td#duration {
    width: 15vw;
}
tr {
    margin: 1vw;
}
tr:hover {
    background-color: rgba(34, 34, 34, 0.212);
}
tbody {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
}

#main::-webkit-scrollbar {
    display: none;
}

#player {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    background-color: #181818;
}